In [2]:
import pandas as pd
import numpy as np

twitter_df=pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
print twitter_df.head()

             tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
0  892420643555336193                    NaN                  NaN
1  892177421306343426                    NaN                  NaN
2  891815181378084864                    NaN                  NaN
3  891689557279858688                    NaN                  NaN
4  891327558926688256                    NaN                  NaN

                   timestamp  \
0  2017-08-01 16:23:56 +0000
1  2017-08-01 00:17:27 +0000
2  2017-07-31 00:18:03 +0000
3  2017-07-30 15:58:51 +0000
4  2017-07-29 16:00:24 +0000

                                              source  \
0  <a href="http://twitter.com/download/iphone" r...
1  <a href="http://twitter.com/download/iphone" r...
2  <a href="http://twitter.com/download/iphone" r...
3  <a href="http://twitter.com/download/iphone" r...
4  <a href="http://twitter.com/download/iphone" r...

                                                text  retweeted_status_id  \
0  This is Phineas. He's a mystical boy. Only eve...                  NaN
1  This is Tilly. She's just checking pup on you....                  NaN
2  This is Archie. He is a rare Norwegian Pouncin...                  NaN
3  This is Darla. She commenced a snooze mid meal...                  NaN
4  This is Franklin. He would like you to stop ca...                  NaN

   retweeted_status_user_id retweeted_status_timestamp  \
0                       NaN                        NaN
1                       NaN                        NaN
2                       NaN                        NaN
3                       NaN                        NaN
4                       NaN                        NaN

                                       expanded_urls  rating_numerator  \
0  https://twitter.com/dog_rates/status/892420643...                13
1  https://twitter.com/dog_rates/status/892177421...                13
2  https://twitter.com/dog_rates/status/891815181...                12
3  https://twitter.com/dog_rates/status/891689557...                13
4  https://twitter.com/dog_rates/status/891327558...                12

   rating_denominator      name doggo floofer pupper puppo
0                  10   Phineas  None    None   None  None
1                  10     Tilly  None    None   None  None
2                  10    Archie  None    None   None  None
3                  10     Darla  None    None   None  None
4                  10  Franklin  None    None   None  None

In [203]:
twitter_df.shape

(2356, 17)

In [106]:
import requests

predictions=requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [107]:
predictions.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [108]:
open('image_predictions.csv','wb').write(predictions.content)

In [119]:
prediction_df=pd.read_csv('image_predictions.csv',sep='\t',error_bad_lines=False)

In [ ]:
import tweepy

consumer_key = '0ef9ZN1lehgc3G4rh0SQvyYZA'
consumer_secret = '6dA51cggFj5XqbFLG9PvFGfSYhPUHSQQyHkJnK7ddaFtkP3O6q'
access_token = 'sHB4eFlSsid2HhjDo16qQRMSvCaoTE'
access_secret = 'yXIRsIeo3xkWXzLobFLiPLjZMXNfmF8dHgu9HGd9LK01e'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [4]:
import json
tweets=[]
for line in open('tweet_json.txt','r'):
    try:
        tweets.append(json.loads(line))
    except ValueError:
        pass

In [5]:
len(tweets)

2340

In [6]:
import pandas as pd

tweets=pd.DataFrame(tweets)

In [211]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 32 columns):
contributors                     0 non-null object
coordinates                      0 non-null object
created_at                       2340 non-null object
display_text_range               2340 non-null object
entities                         2340 non-null object
extended_entities                2066 non-null object
favorite_count                   2340 non-null int64
favorited                        2340 non-null bool
full_text                        2340 non-null object
geo                              0 non-null object
id                               2340 non-null int64
id_str                           2340 non-null object
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null object
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null object
is_quote_status                  2340 non-null bool
lang                             2340 non-null object
place                            1 non-null object
possibly_sensitive               2204 non-null object
possibly_sensitive_appealable    2204 non-null object
quoted_status                    24 non-null object
quoted_status_id                 26 non-null float64
quoted_status_id_str             26 non-null object
quoted_status_permalink          26 non-null object
retweet_count                    2340 non-null int64
retweeted                        2340 non-null bool
retweeted_status                 168 non-null object
source                           2340 non-null object
truncated                        2340 non-null bool
user                             2340 non-null object
dtypes: bool(4), float64(3), int64(3), object(22)
memory usage: 521.1+ KB

I join the twitter_df table with the tweets table. I use a left join, so that all the rows in twitter_df are preserved, but the tweet_ids that are not in twitter_df are removed. I only added the following columns from tweets: 'retweet_count','favorite_count','entities'.

In [8]:
tweet_df=twitter_df.join(tweets[['retweet_count','favorite_count','entities']])

In [213]:
tweet_df.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count,entities
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,8380.0,38256.0,"{u'symbols': [], u'user_mentions': [], u'hasht..."
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,6188.0,32795.0,"{u'symbols': [], u'user_mentions': [], u'hasht..."
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,4093.0,24696.0,"{u'symbols': [], u'user_mentions': [], u'hasht..."

In [216]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 20 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
retweet_count                 2340 non-null float64
favorite_count                2340 non-null float64
entities                      2340 non-null object
dtypes: float64(6), int64(3), object(11)
memory usage: 368.2+ KB

I want to take a closer look at the `text` column, and at the `expanded_urls` column.

In [219]:
for i in range(0,100):
    print tweet_df.loc[i,'text']
    print tweet_df.loc[i,'expanded_urls']
    print ""

This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
https://twitter.com/dog_rates/status/892420643555336193/photo/1

This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV
https://twitter.com/dog_rates/status/892177421306343426/photo/1

This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
https://twitter.com/dog_rates/status/891815181378084864/photo/1

This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
https://twitter.com/dog_rates/status/891689557279858688/photo/1

This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f
https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1

Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh
https://twitter.com/dog_rates/status/891087950875897856/photo/1

Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below

https://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl
https://gofundme.com/ydvmve-surgery-for-jax,https://twitter.com/dog_rates/status/890971913173991426/photo/1

When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq
https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1

This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek https://t.co/9TwLuAGH0b
https://twitter.com/dog_rates/status/890609185150312448/photo/1

This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A
https://twitter.com/dog_rates/status/890240255349198849/photo/1

This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme
https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/status/890006608113172480/photo/1

This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g
https://twitter.com/dog_rates/status/889880896479866881/photo/1

Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm
https://twitter.com/dog_rates/status/889665388333682689/photo/1

This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist https://t.co/f8dEDcrKSR
https://twitter.com/dog_rates/status/889638837579907072/photo/1,https://twitter.com/dog_rates/status/889638837579907072/photo/1

This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq
https://twitter.com/dog_rates/status/889531135344209921/photo/1

This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb
https://twitter.com/dog_rates/status/889278841981685760/video/1

This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both https://t.co/chxruIOUJN
https://twitter.com/dog_rates/status/888917238123831296/photo/1

This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K
https://twitter.com/dog_rates/status/888804989199671297/photo/1,https://twitter.com/dog_rates/status/888804989199671297/photo/1

This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK
https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1

RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX
https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1

This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway https://t.co/DK7iDPfuRX
https://twitter.com/dog_rates/status/888078434458587136/photo/1,https://twitter.com/dog_rates/status/888078434458587136/photo/1

This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic https://t.co/PhrUk20Q64
https://twitter.com/dog_rates/status/887705289381826560/photo/1

I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba
https://twitter.com/dog_rates/status/887517139158093824/video/1

This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX
https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1

You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV
https://twitter.com/dog_rates/status/887343217045368832/video/1

This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp
https://twitter.com/dog_rates/status/887101392804085760/photo/1

This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in https://t.co/I6oNy0CgiT
https://twitter.com/dog_rates/status/886983233522544640/photo/1,https://twitter.com/dog_rates/status/886983233522544640/photo/1

This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help

https://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b
https://www.gofundme.com/mingusneedsus,https://twitter.com/dog_rates/status/886736880519319552/photo/1,https://twitter.com/dog_rates/status/886736880519319552/photo/1

This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA
https://twitter.com/dog_rates/status/886680336477933568/photo/1

This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe https://t.co/RGE08MIJox
https://twitter.com/dog_rates/status/886366144734445568/photo/1,https://twitter.com/dog_rates/status/886366144734445568/photo/1

@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution
nan

This is Waffles. His doggles are pupside down. Unsure how to fix. 13/10 someone assist Waffles https://t.co/xZDA9Qsq1O
https://twitter.com/dog_rates/status/886258384151887873/photo/1

RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo
https://twitter.com/dog_rates/status/886053434075471873,https://twitter.com/dog_rates/status/886053434075471873

Viewer discretion advised. This is Jimbo. He will rip ur finger right h*ckin off. Other dog clearly an accessory. 12/10 pls pet with caution https://t.co/BuveP0uMF1
https://twitter.com/dog_rates/status/885984800019947520/photo/1

This is Maisey. She fell asleep mid-excavation. Happens to the best of us. 13/10 would pat noggin approvingly https://t.co/tp1kQ8i9JF
https://twitter.com/dog_rates/status/885528943205470208/photo/1

I have a new hero and his name is Howard. 14/10 https://t.co/gzLHboL7Sk
https://twitter.com/4bonds2carbon/status/885517367337512960

RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5
https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1

Here we have a corgi undercover as a malamute. Pawbably doing important investigative work. Zero control over tongue happenings. 13/10 https://t.co/44ItaMubBf
https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1,https://twitter.com/dog_rates/status/885167619883638784/photo/1

This is Earl. He found a hat. Nervous about what you think of it. 12/10 it's delightful, Earl https://t.co/MYJvdlNRVa
https://twitter.com/dog_rates/status/884925521741709313/photo/1

This is Lola. It's her first time outside. Must test the earth and taste the atmosphere. 13/10 you're doing great Lola https://t.co/74TKAUsLkO
https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1

This is Kevin. He's just so happy. 13/10 what is your secret Kevin https://t.co/1r4MFCbCX5
https://twitter.com/dog_rates/status/884562892145688576/photo/1

I present to you, Pup in Hat. Pup in Hat is great for all occasions. Extremely versatile. Compact as h*ck. 14/10 (IG: itselizabethgales) https://t.co/vvBOcC2VdC
https://twitter.com/dog_rates/status/884441805382717440/photo/1

OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LITTLE BARKOUR HE'S SUPER SORRY 13/10 WOULD FORGIVE IMMEDIATE https://t.co/uF3pQ8Wubj
https://twitter.com/kaijohnson_19/status/883965650754039809

Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ
https://twitter.com/dog_rates/status/884162670584377345/photo/1

This is Noah. He can't believe someone made this mess. Got the vacuum out for you though. Offered to help clean pup. 12/10 super good boy https://t.co/V85xujjDDY
https://twitter.com/dog_rates/status/883838122936631299/photo/1

This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948
https://twitter.com/dog_rates/status/883482846933004288/photo/1,https://twitter.com/dog_rates/status/883482846933004288/photo/1

Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption. 13/10 heroic as h*ck https://t.co/rf661IFEYP
https://twitter.com/dog_rates/status/883360690899218434/photo/1

Please only send dogs. We don't rate mechanics, no matter how h*ckin good. Thank you... 13/10 would sneak a pat https://t.co/Se5fZ9wp5E
https://twitter.com/dog_rates/status/883117836046086144/photo/1,https://twitter.com/dog_rates/status/883117836046086144/photo/1

This is Rusty. He wasn't ready for the first pic. Clearly puppared for the second. 13/10 confirmed great boy https://t.co/tyER0KpdXj
https://twitter.com/dog_rates/status/882992080364220416/photo/1,https://twitter.com/dog_rates/status/882992080364220416/photo/1

This is Gus. He's quite the cheeky pupper. Already perfected the disinterested wink. 12/10 would let steal my girl https://t.co/D43I96SlVu
https://twitter.com/dog_rates/status/882762694511734784/photo/1

This is Stanley. He has his first swim lesson today. Doggle straps adjusted. Ready to go. 13/10 Phelps is nervous (IG: stanleythe_corgi) https://t.co/Nx52PGwH94
https://twitter.com/dog_rates/status/882627270321602560/photo/1

This is Alfy. You're witnessing his first watermelon experience. I think it was a success. 13/10 happy 4th Alfy 🇺🇸 https://t.co/fYP5RlutfA
https://twitter.com/dog_rates/status/882268110199369728/photo/1,https://twitter.com/dog_rates/status/882268110199369728/photo/1,https://twitter.com/dog_rates/status/882268110199369728/photo/1

This is Koko. Her owner, inspired by Barney, recently built a cart for her to use during walks if she got tired. 13/10 rest easy Koko https://t.co/zeDpnsKX7w
https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1,https://twitter.com/dog_rates/status/882045870035918850/photo/1

This is Rey. He's a Benebop Cumberfloof. 12/10 dangerously pettable https://t.co/503CgWbhxQ
https://twitter.com/dog_rates/status/881906580714921986/photo/1

This is Gary. He couldn't miss this puppertunity for a selfie. Flawless focusing skills. 13/10 would boop intensely https://t.co/7CSWCl8I6s
https://twitter.com/dog_rates/status/881666595344535552/photo/1

@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s
nan

Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af
(IG: puffie_the_chow) https://t.co/ghXBIIeQZF
https://twitter.com/dog_rates/status/881536004380872706/video/1

Meet Elliot. He's a Canadian Forrest Pup. Unusual number of antlers for a dog. Sneaky tongue slip to celebrate #Canada150. 12/10 would pet https://t.co/cgwJwowTMC
https://twitter.com/dog_rates/status/881268444196462592/photo/1

This is Louis. He's crossing. It's a big deal. 13/10 h*ckin breathtaking https://t.co/D0wb1GlKAt
https://twitter.com/dog_rates/status/880935762899988482/photo/1

Ugh not again. We only rate dogs. Please don't send in well-dressed  floppy-tongued street penguins. Dogs only please. Thank you... 12/10 https://t.co/WiAMbTkDPf
https://twitter.com/dog_rates/status/880872448815771648/photo/1

This is Bella. She had her first beach experience this morning. Complete success. 12/10 would perform a sandy boop https://t.co/4VsFysDmiw
https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1,https://twitter.com/dog_rates/status/880465832366813184/photo/1

Meet Jesse. He's a Fetty Woof. His tongue ejects without warning. A true bleptomaniac. 12/10 would snug well https://t.co/fUod0tVmvK
https://twitter.com/dog_rates/status/880221127280381952/photo/1,https://twitter.com/dog_rates/status/880221127280381952/photo/1

Please don't send in photos without dogs in them. We're not @porch_rates. Insubordinate and churlish. Pretty good porch tho 11/10 https://t.co/HauE8M3Bu4
https://twitter.com/dog_rates/status/880095782870896641/photo/1

This is Romeo. He would like to do an entrance. Requesting your immediate assistance. 13/10 https://t.co/Qh5aEkRQm9
https://twitter.com/dog_rates/status/879862464715927552/photo/1,https://twitter.com/dog_rates/status/879862464715927552/photo/1,https://twitter.com/dog_rates/status/879862464715927552/photo/1

@RealKentMurphy 14/10 confirmed
nan

This is Bailey. He thinks you should measure ear length for signs of growth instead. 12/10 https://t.co/IxM9IMKQq8
https://twitter.com/dog_rates/status/879492040517615616/photo/1

This is Duddles. He did an attempt. 13/10 someone help him (vid by Georgia Felici) https://t.co/UDT7ZkcTgY
https://twitter.com/dog_rates/status/879415818425184262/video/1

This is Jack AKA Stephen Furry. You're not scoring on him. Unless he slips down the slide. 12/10 would happily get blocked by https://t.co/0gOi601EAa
https://twitter.com/dog_rates/status/879376492567855104/photo/1

RT @dog_rates: This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://…
https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1

This is Steven. He has trouble relating to other dogs. Quite shy. Neck longer than average. Tropical probably. 11/10 would still pet https://t.co/2mJCDEJWdD
https://twitter.com/dog_rates/status/879050749262655488/photo/1

This is Beau. That is Beau's balloon. He takes it everywhere. 13/10 would protect at all costs https://t.co/YDtpCjIPKN
https://twitter.com/dog_rates/status/879008229531029506/photo/1

This is Snoopy. He's a proud #PrideMonthPuppo. Impeccable handwriting for not having thumbs. 13/10 would love back #PrideMonth https://t.co/lNZwgNO4gS
https://twitter.com/dog_rates/status/878776093423087618/photo/1,https://twitter.com/dog_rates/status/878776093423087618/photo/1

Martha is stunning how h*ckin dare you. 13/10 https://t.co/9uABQXgjwa
https://twitter.com/bbcworld/status/878599868507402241

RT @dog_rates: Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below

https:/…
https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1

RT @dog_rates: Meet Terrance. He's being yelled at because he stapled the wrong stuff together. 11/10 hang in there Terrance https://t.co/i…
https://twitter.com/dog_rates/status/669000397445533696/photo/1

Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below

https://t.co/245xJJElsY https://t.co/lUiQH219v6
https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1

This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://t.co/cwtWnHMVpe
https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1

This is Aja. She was just told she's a good dog. Suspicions confirmed. 13/10 would tell again https://t.co/lsPyyAiF1r
https://twitter.com/dog_rates/status/877736472329191424/photo/1,https://twitter.com/dog_rates/status/877736472329191424/photo/1

RT @rachel2195: @dog_rates the boyfriend and his soaking wet pupper h*cking love his new hat 14/10 https://t.co/dJx4Gzc50G
https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1

This is Penny. She's both pupset and fired pup. Not pleased w your barbaric attempts at cleanliness. 12/10 would enjoy more shampoo options https://t.co/OYdDlfOGXP
https://twitter.com/dog_rates/status/877556246731214848/photo/1

Meet Dante. At first he wasn't a fan of his new raincoat, then he saw his reflection. H*ckin handsome. 13/10 for water resistant good boy https://t.co/SHRTIo5pxc
https://twitter.com/dog_rates/status/877316821321428993/photo/1,https://twitter.com/dog_rates/status/877316821321428993/photo/1

This is Nelly. He graduated with his dogtorate today. Wants to know if you're proud of him. 12/10 would give congratulatory boop https://t.co/4g4cfj3P4Y
https://twitter.com/dog_rates/status/877201837425926144/photo/1,https://twitter.com/dog_rates/status/877201837425926144/photo/1

This is Ginger. She's having a ruff Monday. Too many pupper things going on. H*ckin exhausting. 12/10 would snug passionately https://t.co/j211oCDRs6
https://twitter.com/dog_rates/status/876838120628539392/photo/1,https://twitter.com/dog_rates/status/876838120628539392/photo/1

I can say with the pupmost confidence that the doggos who assisted with this search are heroic as h*ck. 14/10 for all https://t.co/8yoc1CNTsu
https://twitter.com/mpstowerham/status/876162994446753793


It looks like there are some rewteets and replies in the data. The rewteets' `text` column starts with 'RT' and the replies starts with '@'. I remove these rows from the table. (**QUALITY ISSUE \#1**)

I will also remove rows without an image, by removing rows where `expanded_urls` is nan. (**QUALITY ISSUE \#2**)

In [13]:
import re

for i in tweet_df.index:
    condition=(re.search("^RT",tweet_df.loc[i,'text']) is not None) or (re.search("^@",tweet_df.loc[i,'text']) is not None)
    if condition:
        tweet_df.drop(i, axis=0,inplace=True)
        
tweet_df.dropna(axis=0,subset=['expanded_urls'],inplace=True)

In [30]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2298
Data columns (total 24 columns):
tweet_id                      2115 non-null float64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2115 non-null object
source                        2115 non-null object
text                          2115 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2115 non-null object
rating_numerator              2115 non-null float64
rating_denominator            2097 non-null float64
name                          2034 non-null object
doggo                         2115 non-null object
floofer                       2115 non-null object
pupper                        2115 non-null object
puppo                         2115 non-null object
retweet_count                 2115 non-null float64
favorite_count                2115 non-null float64
entities                      2099 non-null object
hashtags                      2335 non-null object
urls                          2104 non-null object
user_mentions                 2099 non-null object
symbols                       2099 non-null object
dtypes: float64(9), object(15)
memory usage: 460.2+ KB

The `retweet_count` and `favorite_count` columns are float. I'll cast them as integer (**QUALITY ISSUE \#3**)

The `tweet_id` is also float, but this shouldn't be a number at all, since it functions more like a name. Therefore I'll cast it as a string.  (**QUALITY ISSUE \#4**)

In [104]:
tweet_df['retweet_count']=tweet_df['retweet_count'].fillna(0.0).astype(int)

tweet_df['favorite_count']=tweet_df['favorite_count'].fillna(0.0).astype(int)

tweet_df['tweet_id']=tweet_df['tweet_id'].fillna(0.0).astype(str)

There are also 16 columns that are missing data in the columns I have just added to the table (which means that the tweet_ids are missing from the json file I downloaded from Twitter). Let's look at them and see if there's anything special about them.

In [161]:
tweet_df[tweet_df['retweet_count'].isnull()].head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count,entities
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None,NaN,NaN,NaN
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None,NaN,NaN,NaN
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None,NaN,NaN,NaN
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None,NaN,NaN,NaN
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None,NaN,NaN,NaN

In [ ]:
for i in tweet_df[tweet_df['retweet_count'].isnull()].index:
    print tweet_df.iloc[i,5]

It looks like all of these tweets occured at around the same time (and it looks also like the grades are lower than average, and the dogs are not named). *But I'll leave this data as is, since there is no clear indication it is corrupted in some obvious way.* 

Let's look next at dog names. First I'll check to see how many dogs have no name. Second, it's likely that having used a regular expression to extract dog names might have selected also some words that are not dog names - so I'll check for 'names' that start with a lower-case letter.

In [163]:
tweet_df[tweet_df['name']=='None']['name'].count()

745

In [164]:
tweet_df[tweet_df['name'].str.islower()]['name'].count()

109

Let's see some of the entries where the dog names start with lower case. I'll print the `text` and `name` columns for each:

In [ ]:
for i in tweet_df[tweet_df['name'].str.islower()].index:
    print tweet_df.loc[i,'text']
    print tweet_df.loc[i,'name']
    print ''

It looks like the regex used picked up the first word after 'This is' or 'Here is' and so on. In many of these cases, the `text` column doesn't contain any name whatsoever, so the `name` column should be empty. However, in some of these cases, the `text` column does contain a dog name. I'll try to build some regular expressions to capture the names, and for the rest I will just replace `name` value with 'None'. **QUALITY ISSUE \#5**

In [15]:
import re

test=tweet_df[tweet_df['name'].str.islower()]
for i in test.index:
    if re.search("named\s[A-Z]\w*",test.loc[i,'text']) is not None:
        expression=re.search("named\s[A-Z]\w*",test.loc[i,'text']).group()
        test.loc[i,'name']=expression.split(' ')[1]
    elif re.search('That\sis\s[A-Z]\w*',test.loc[i,'text']) is not None:
        expression=re.search("That\sis\s[A-Z]\w*",test.loc[i,'text']).group()
        test.loc[i,'name']=expression.split(' ')[2]
    elif re.search('name\sis\s[A-Z]\w*',test.loc[i,'text']) is not None:
        expression=re.search("name\sis\s[A-Z]\w*",test.loc[i,'text']).group()
        test.loc[i,'name']=expression.split(' ')[2]
    else:
        test.loc[i,'name']=None
        
for i in test.index:
    tweet_df.loc[i,'name']=test.loc[i,'name']

C:\Users\BogdanR\AppData\Local\Continuum\Anaconda2\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Next I look at the ratings. Although it's ok for the numerator to be higher than 10, the denominator should always be 10. Let's check:

In [ ]:
for i in tweet_df[tweet_df['rating_denominator']!=10].index:
    print tweet_df.loc[i,'rating_denominator']
    print tweet_df.loc[i,'text']
    print ''

There seem to be two cases: when the denominator is 10\*n, that's a rating for n dogs. Second, when the denominator is different than that, the regex used picked the wrong ratio ('7/11' refers to the store, for example, and it's not a rating).

To fix this column, I will address the above issues in reverse order: first I construct a regex that only picks ratios that have a multiple of 10 as denominator. Then, for the ones whose denominator is different than 10, I normalize them. **QUALITY ISSUE \#6**

In [20]:
temp_df=tweet_df[tweet_df['rating_denominator']!=10]
for i in temp_df.index:
    if re.search('\d+\.\d+/\d0',temp_df.loc[i,'text']) is not None:
        temp_df.loc[i,'rating_denominator']=re.search('\d+\.\d+/\d0',temp_df.loc[i,'text']).group().split('/')[1]
        temp_df.loc[i,'rating_numerator']=re.search('\d+\.\d+/\d0',temp_df.loc[i,'text']).group().split('/')[0]
    else:
        temp_df.loc[i,'rating_denominator']=None
        temp_df.loc[i,'rating_numerator']=None

for i in temp_df.index:
    tweet_df.loc[i,'rating_denominator']=temp_df.loc[i,'rating_denominator']
    
for i in tweet_df[tweet_df['rating_denominator']!=10].index:
    try:
        old_denom=int(tweet_df.loc[i,'rating_denominator'])
        new_num=(tweet_df.loc[i,'rating_numerator']*10)/old_denom
        tweet_df.loc[i,'rating_numerator']=new_num
        tweet_df.loc[i,'rating_denominator']=10
    except ValueError:
        pass

I take another look at the ratings, to make sure everything looks ok. In particular, I wonder if there are any ratings that are particularly low or particularly high.

In [21]:
for i in tweet_df.index:
    try:
        rating=float(tweet_df.loc[i,'rating_numerator']) / float(tweet_df.loc[i,'rating_denominator'])
    except ValueError:
        pass
    
    if (rating<.8 or rating>1.5):
        print tweet_df.loc[i,'text']
        print rating
        print ""

This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948
0.5

This is Jerry. He's doing a distinguished tongue slip. Slightly patronizing tbh. You think you're better than us, Jerry? 6/10 hold me back https://t.co/DkOBbwulw1
0.6

When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag
0.0

This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS
7.5

Who keeps sending in pictures without dogs in them? This needs to stop. 5/10 for the mediocre road https://t.co/ELqelxWMrC
0.5

This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq
2.7

This is Wesley. He's clearly trespassing. Seems rather h*ckin violent too. Weaponized forehead. 3/10 wouldn't let in https://t.co/pL7wbMRW7M
0.3

Another pic without a dog in it? What am I supposed to do? Rate the carpet? Fine I will. 7/10 looks adequately comfy https://t.co/OJZQ6I4gGd
0.7

This is Fido. He can tell the weather. Not good at fetch tho. Never comes when called. 4/10 would probably still pet https://t.co/4gOv2Q3iKP
0.4

Meet Toby. He has a drinking problem. Inflatable marijuana plant in the back is also not a good look. 7/10 cmon Toby https://t.co/Cim4DSj6Oi
0.7

Here's another picture without a dog in it. Idk why you guys keep sending these. 4/10 just because that's a neat rug https://t.co/mOmnL19Wsl
0.4

Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8
0.5

This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh
177.6

This is one of the most reckless puppers I've ever seen. How she got a license in the first place is beyond me. 6/10 https://t.co/z5bAdtn9kd
0.6

This sherk must've leapt out of the water and into the canoe, trapping the human. Won't even help paddle smh. 7/10 https://t.co/KubWEqOIgO
0.7

Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R
0.4

PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX
0.0

This is Percy. He fell asleep at the wheel. Irresponsible af. 7/10 absolute menace on the roadway https://t.co/QHbvtvaw8E
0.7

This is Harold. He looks slippery af. Probably difficult to hug. Would still try tho. 7/10 great with kids I bet https://t.co/EVuqdEO66N
0.7

This is Kyle. He's a heavy drinker and an avid pot user. Just wants to be pupular. 6/10 I can't support this Kyle https://t.co/rRULp7XFnO
0.6

This is Charles. He's camera shy. Tail longer than average. Doesn't look overwhelmingly fluffy. 6/10 would still pet https://t.co/rXvcElhoog
0.6

This is Alexanderson. He's got a weird ass birth mark. Dreadful at fetch. Won't eat kibble. 3/10 wtf @Target https://t.co/FmxOpf2Sgl
0.3

This is Benedict. He's a feisty pup. Needs a brushing. Portable af. Looks very angry actually. 4/10 might not pet https://t.co/3oeFfHjv0Z
0.4

This is Steven. He's inverted af. Also very helpful. Scans anything you want for free. Takes him a while tho. 7/10 https://t.co/tA0ZiQ7JcG
0.7

This is Chester. He's clearly in charge of the other dogs. Weird ass paws. Not fit for fetch. 6/10 would still pet https://t.co/o2GvskrhHt
0.6

What hooligan sent in pictures w/out a dog in them? Churlish af. 3/10 just bc that's a neat fluffy bean bag chair https://t.co/wcwoGOkZvz
0.3

This is Jiminus. He's in a tub for some reason. What a jokester. Smh 7/10 churlish af https://t.co/84L4ED9Tpi
0.7

This is Keurig. He's a rare dog. Laughs like an idiot tho. Head is basically a weapon. Poorly maintained goatee 4/10 https://t.co/xOrUyj7K30
0.4

This is Elliot. He's blocking the roadway. Downright rude as hell. Doesn't care that you're already late. 3/10 https://t.co/FMUxir5pYu
0.3

This is Dexter. He's a shy pup. Doesn't bark much. Dreadful fetcher. Has rare sun allergy. 7/10 still petable https://t.co/sA7P3JSqiv
0.7

This is Chesterson. He's a Bolivian Scoop Dog. Incredibly portable. Can't bark for shit tho. 7/10 would still pet https://t.co/EatAd8JhyW
0.7

This is Chip. He's an Upper West Nile Pantaloon. Extremely deadly. Will rip your throat out. 6/10 might still pet https://t.co/LUFnwzznaV
0.6

This is Daniel. He's a neat pup. Exotic af. Custom paws. Leaps unannounced. Would totally pet. 7/10 daaamn Daniel https://t.co/5XaR0kj8cr
0.7

This is Murphy. He's a mini golden retriever. Missing two legs (tragic). Mouth sharp. Looks rather perturbed. 6/10 https://t.co/ALO02IAKCn
0.6

This is Eazy-E. He's colorful af. Must be rare. Submerged in Sprite (rad). Doesn't perform well when not wet. 6/10 https://t.co/UtFI7eUCjE
0.6

This is Dave. He's a tropical pup. Short lil legs (dachshund mix?) Excels underwater, but refuses to eat kibble 5/10 https://t.co/ZJnCxlIf62
0.5

This is Charl. He's a bully. Chucks that dumbbell around like its nothing. Sharp neck. Exceptionally unfluffy. 3/10 https://t.co/VfLoDZecJ7
0.3

This is Rusty. He has no respect for POULTRY products. Unbelievable af. 7/10 would still pet https://t.co/hEH19t1eFp
0.7

This is Berb. He just found out that they have made 31 Kidz Bop CD's. Downright terrifying. 7/10 hang in there Berb https://t.co/CIFLjiTFwZ
0.7

This may be the greatest video I've ever been sent. 4/10 for Charles the puppy, 13/10 overall. (Vid by @stevenxx_) https://t.co/uaJmNgXR2P
0.4

Meet Brian (pronounced "Kirk"). He's not amused by ur churlish tomfoolery. Once u put him down you're done for. 6/10 https://t.co/vityMwPKKi
0.6

Please only send in dogs. This t-rex is very scary. 5/10 ...might still pet (vid by @helizabethmicha) https://t.co/Vn6w5w8TO2
0.5

What kind of person sends in a pic without a dog in it? So churlish. Neat rug tho 7/10 https://t.co/LSTAwTdTaw
0.7

Meet Phil. He's big af. Currently destroying this nice family home. Completely uncalled for. 3/10 not a good pupper https://t.co/fShNNhBWYx
0.3

Meet Herschel. He's slightly bigger than ur average pupper. Looks lonely. Could probably ride 7/10 would totally pet https://t.co/VGaIMktX10
0.7

When bae says they can't go out but you see them with someone else that same night. 5/10 &amp; 10/10 for heartbroken pup https://t.co/aenk0KpoWM
0.5

This is Hamrick. He's covered in corn flakes. Silly pupper. Looks congested. 7/10 considerably petable https://t.co/ROPZcAMQKI
0.7

This is Marq. He stole this car. 7/10 wtf Marq? https://t.co/MHScqo5l8c
0.7

"You got any games on your phone" 7/10 for invasive brown Dalmatian pupper https://t.co/yzGR9xjE9Q
0.7

Army of water dogs here. None of them know where they're going. Have no real purpose. Aggressive barks. 5/10 for all https://t.co/A88x73TwMN
0.5

This is Hammond. He's a peculiar pup. Loves long walks. Bark barely audible. Too many legs. 3/10 must be rare https://t.co/NOIiRWr5Jf
0.3

This is Otis. He just passed a cop while going 61 in a 45. Very nervous pupper. 7/10 https://t.co/jJS8qQeuNO
0.7

This is Jerry. He's a neat dog. No legs (tragic). Has more horns than a dog usually does. Bark is unique af. 5/10 https://t.co/85q7xlplsJ
0.5

Here we have a basking dino pupper. Looks powerful. Occasionally shits eggs. Doesn't want the holidays to end. 5/10 https://t.co/DnNweb5eTO
0.5

This is Bobby. He doesn't give a damn about personal space. Convinced he called shotgun first. 4/10 not the best dog https://t.co/b8XW69gSaU
0.4

Gang of fearless hoofed puppers here. Straight savages. Elevated for extra terror. Front one has killed before 6/10s https://t.co/jkCb25OWfh
0.6

This is Jiminy. He's not the brightest dog. Needs to lay off the kibble. 5/10 still petable https://t.co/omln4LOy1x
0.5

This is Patrick. He's a bigass pupper. 7/10 https://t.co/J9DXBFoAQe
0.7

Unique dog here. Wrinkly as hell. Weird segmented neck. Finger on fire. Doesn't seem to notice. 5/10 might still pet https://t.co/Hy9La4xNX3
0.5

Can you spot Toby the guilty pupper? 7/10 would be higher but he made quite the mess shredding his stuffed pals https://t.co/3uCcDEJLXs
0.7

This is Chuck. He's a neat dog. Very flexible. Trapped in a glass case of emotion. Devastatingly unfluffy 3/10 https://t.co/YqbU9xHV3p
0.3

This is Alice. She's an idiot. 4/10 https://t.co/VQXdwJfkyS
0.4

Say hello to Moofasa. He must be a powerful dog. Fenced in for your protection. Just got his ear pierced. 6/10 https://t.co/w6fRfQ3RXD
0.6

Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD
2.6

Meet Penelope. She's a bacon frise. Total babe (lol get it like the movie). Doesn't bark tho. 5/10 very average dog https://t.co/SDcQYg0HSZ
0.5

This is Bruce. He's a rare pup. Covered in Frosted Flakes. Nifty gold teeth. Overall good dog. 7/10 would pet firmly https://t.co/RtxxACzZ8A
0.7

Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC
0.7

Say hello to William. He makes fun of others because he's terrified of his own deep-seated insecurities. 7/10 https://t.co/bwuV6FlRxr
0.7

This is Linda. She fucking hates trees. 7/10 https://t.co/blaY85FIxR
0.7

Meet Tango. He's a large dog. Doesn't care much for personal space. Owner isn't very accepting. Tongue slip. 6/10 https://t.co/p2T5kGebxe
0.6

Exotic pup here. Tail long af. Throat looks swollen. Might breathe fire. Exceptionally unfluffy 2/10 would still pet https://t.co/a8SqCaSo2r
0.2

This is Crystal. She's a shitty fireman. No sense of urgency. People could be dying Crystal. 2/10 just irresponsible https://t.co/rtMtjSl9pz
0.2

Contortionist pup here. Inside pentagram. Clearly worships Satan. Known to slowly push fragile stuff off tables 6/10 https://t.co/EX9oR55VMe
0.6

This is Juckson. He's totally on his way to a nascar race. 5/10 for Juckson https://t.co/IoLRvF0Kak
0.5

This is Karl. Karl thinks he's slick. 6/10 sneaky pup https://t.co/Lo4ALwjVh4
0.6

Exotic handheld dog here. Appears unathletic. Feet look deadly. Can be thrown a great distance. 5/10 might pet idk https://t.co/Avq4awulqk
0.5

This is Bubbles. He kinda resembles a fish. Always makes eye contact with u no matter what. Sneaky tongue slip. 5/10 https://t.co/Nrhvc5tLFT
0.5

Extremely rare pup here. Very religious. Always praying. Too many legs. Not overwhelmingly fluffy. Won't bark. 3/10 https://t.co/REyE5YKVBb
0.3

This is Donny. He's summoning the demon monster Babadook. 6/10 Donny please no that won't be a good time for anyone https://t.co/kiW6Knb7Gp
0.6

Rare shielded battle dog here. Very happy about abundance of lettuce. Painfully slow fetcher. Still petable. 5/10 https://t.co/C3tlKVq7eO
0.5

What kind of person sends in a picture without a dog in it? 1/10 just because that's a nice table https://t.co/RDXCfk8hK0
0.1

This is Coops. He's yelling at the carpet. Not very productive Coops. 7/10 https://t.co/Uz52oYnHzF
0.7

This is Steven. He got locked outside. Damn it Steven. 5/10 nice grill tho https://t.co/zf7Sxxjfp3
0.5

Meet Patrick. He's an exotic pup. Jumps great distances for a dog. Always gets injured when I toss him a ball. 3/10 https://t.co/Unz1uNrOzo
0.3

Two gorgeous dogs here. Little waddling dog is a rebel. Refuses to look at camera. Must be a preteen. 5/10 &amp; 8/10 https://t.co/YPfw7oahbD
0.5

Rare submerged pup here. Holds breath for a long time. Frowning because that spoon ignores him. 5/10 would still pet https://t.co/EJzzNHE8bE
0.5

This is Henry. He's a shit dog. Short pointy ears. Leaves trail of pee. Not fluffy. Doesn't come when called. 2/10 https://t.co/Pu9RhfHDEQ
0.2

This is Earl. Earl is lost. Someone help Earl. He has no tags. Just trying to get home. 5/10 hang in there Earl https://t.co/1ZbfqAVDg6
0.5

Herd of wild dogs here. Not sure what they're trying to do. No real goals in life. 3/10 find your purpose puppers https://t.co/t5ih0VrK02
0.3

Guys I'm getting real tired of this. We only rate dogs. Please don't send in other things like this Bulbasaur. 3/10 https://t.co/t5rQHl6W8M
0.3

This is a heavily opinionated dog. Loves walls. Nobody knows how the hair works. Always ready for a kiss. 4/10 https://t.co/dFiaKZ9cDl
0.4

Large blue dog here. Cool shades. Flipping us off w both hands. Obviously a preteen. 3/10 for rude blue preteen pup https://t.co/mcPd5AFfhA
0.3

This is Jeffri. He's a speckled ice pupper. Very lazy. Enjoys the occasional swim. Rather majestic really. 7/10 https://t.co/0iyItbtkr8
0.7

Sun burnt dog here. Quite large. Wants to promote peace. Looks unemployed. Ears for days. 7/10 would pet profusely https://t.co/WlKiN3ll0w
0.7

This is Gerald. He's a fluffy lil yellow pup. Always looks like his favorite team just lost on a hail mary. 7/10 https://t.co/GpSkpN8kXS
0.7

Magical floating dog here. Very calm. Always hangs by the pond. Rather moist. Good listener. 6/10 personally I'd pet https://t.co/1euKoOvy49
0.6

Extraordinary dog here. Looks large. Just a head. No body. Rather intrusive. 5/10 would still pet https://t.co/ufHWUFA9Pu
0.5

This is Chet. He's having a hard time. Really struggling. 7/10 hang in there pupper https://t.co/eb4ta0xtnd
0.7

Marvelous dog here. Rad ears. Not very soft. Large tumor on nose. Has a pet rock. Good w kids. 6/10 overall neat pup https://t.co/g5YkRqP0dg
0.6

This is Norman. Doesn't bark much. Very docile pup. Up to date on current events. Overall nifty pupper. 6/10 https://t.co/ntxsR98f3U
0.6

Meet Darby. He's a Fiscal Tutankhamen Waxbeard. Really likes steak. 7/10 https://t.co/rSndxTL0Ap
0.7

This is Ridley. He doesn't know how to couch. 7/10 https://t.co/UHJE0UgMf7
0.7

Exotic underwater dog here. Very shy. Wont return tennis balls I toss him. Never been petted. 5/10 I bet he's soft https://t.co/WH7Nzc5IBA
0.5

Say hello to Gizmo. He's upset because he's not sure if he's really big or the shopping cart is really small. 7/10 https://t.co/XkMtCGhr4a
0.7

This is Brad. He's a chubby lil pup. Doesn't really need the food he's trying to reach. 5/10 you've had enough Brad https://t.co/vPXKSaNsbE
0.5

Very fit horned dog here. Looks powerful. Not phased by wind. Great beard. Big enough to ride? 6/10 would cuddle https://t.co/wwwYO9C9kl
0.6

Interesting dog here. Very large. Purple. Manifests rainbows. Perfect teeth. No ears. Surprisingly knowledgable 6/10 https://t.co/QVaEMsB9tS
0.6

Super rare dog here. Spiffy mohawk. Sharp mouth. Shits eggs. Cool chariot wheel in background. 6/10 v confident pup https://t.co/pcx8jm1J1K
0.6

Striped dog here. Having fun playing on back. Sturdy paws. Looks like an organized Dalmatian. 7/10 would still pet https://t.co/U1mSS3Ykez
0.7

This is Anthony. He just finished up his masters at Harvard. Unprofessional tattoos. Always looks perturbed. 5/10 https://t.co/iHLo9rGay1
0.5

Two miniature golden retrievers here. Webbed paws. Don't walk very efficiently. Can't catch a tennis ball. 4/10s https://t.co/WzVLdSHJU7
0.4

Meet Phred. He isn't steering, looking at the road, or wearing a seatbelt. Phred is a rolling tornado of danger 6/10 https://t.co/mZD7Bo7HfV
0.6

After so many requests... here you go.

Good dogg. 420/10 https://t.co/yfAAo1gdeY
42.0

Pink dogs here. Unreasonably long necks. Left guy has only 1 leg. Quite nimble. Don't bark tho 4/10s would still pet https://t.co/QY5uvMmmQk
0.4

This is Jett. He is unimpressed by flower. 7/10 https://t.co/459qWNnV3F
0.7

Scary dog here. Too many legs. Extra tail. Not soft, let alone fluffy. Won't bark. Moves sideways. Has weapon. 2/10 https://t.co/XOPXCSXiUT
0.2

This is Antony. He's a Sheraton Tetrahedron. Skips awkwardly. Doesn't look when he crosses the road (reckless). 7/10 https://t.co/gTy4WMXu8l
0.7

Flamboyant pup here. Probably poisonous. Won't eat kibble. Doesn't bark. Slow af. Petting doesn't look fun. 1/10 https://t.co/jxukeh2BeO
0.1

This dude slaps your girl's ass what do you do?
5/10 https://t.co/6dioUL6gcP
0.5

This is Traviss. He has no ears. Two rare dogs in background. I bet they all get along nicely. 7/10s I'd pet all https://t.co/Viu56hVhhP
0.7

Meet Danny. He's too good to look at the road when he's driving. Absolute menace. 6/10 completely irresponsible https://t.co/I1lMUy1FqH
0.6

Silly dog here. Wearing bunny ears. Nice long tail. Unique paws. Not crazy soft but will do. Extremely agile. 7/10 https://t.co/2BnCLtJMxD
0.7

Vibrant dog here. Fabulous tail. Only 2 legs tho. Has wings but can barely fly (lame). Rather elusive. 5/10 okay pup https://t.co/cixC0M3P1e
0.5

Sharp dog here. Introverted. Loves purple. Not fun to pet. Hurts to cuddle with. 6/10 still good dog tho https://t.co/Dfv2YaHPMn
0.6

This is Randall. He's from Chernobyl. Built playground himself. Has been stuck up there quite a while. 5/10 good dog https://t.co/pzrvc7wKGd
0.5

This is Tommy. He's a cool dog. Hard not to step on. Won't let go of seashell. Not fast by any means. 3/10 https://t.co/0gY6XTOpn3
0.3

Awesome dog here. Not sure where it is tho. Spectacular camouflage. Enjoys leaves. Not very soft. 5/10 still petable https://t.co/rOTOteKx4q
0.5

This is a brave dog. Excellent free climber. Trying to get closer to God. Not very loyal though. Doesn't bark. 5/10 https://t.co/ODnILTr4QM
0.5

Special dog here. Pretty big. Neck kinda long for dog. Cool spots. Must be a Dalmatian variant. 6/10 would still pet https://t.co/f8GXeDbFzu
0.6

This is Keith. He's had 13 DUIs. 7/10 that's too many Keith https://t.co/fa7olwrF9Y
0.7

This is Billl. He's trying to be a ghost but he's not very good at it. 6/10 c'mon Billl https://t.co/ero0XfdGtY
0.6

Two gorgeous pups here. Both have cute fake horns(adorable). Barn in the back looks on fire. 5/10 would pet rly well https://t.co/w5oYFXi0uh
0.5

This is Bernie. He's taking his Halloween costume very seriously. Wants to be baked. 3/10 not a good idea Bernie smh https://t.co/1zBp1moFlX
0.3

Honor to rate this dog. Lots of fur on him. Two massive tumors on back. Should get checked out. Very neat tho. 7/10 https://t.co/bMhs18elNF
0.7

Unique dog here. Oddly shaped tail. Long pink front legs. I don't think dogs breath underwater sos. 4/10 bad owner https://t.co/0EJXxE9UxW
0.4

This is a wild Toblerone from Papua New Guinea. Mouth always open. Addicted to hay. Acts blind. 7/10 handsome dog https://t.co/IGmVbz07tZ
0.7

Fascinating dog here. Loves beach. Oddly long nose for dog. Massive ass paws. Hard to cuddle w. 3/10 would still pet https://t.co/IiSdmhkC5N
0.3

Meet Zeek. He is a grey Cumulonimbus. Zeek is hungry. Someone should feed Zeek asap. 5/10 absolutely terrifying https://t.co/fvVNScw8VH
0.5

Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm
0.7

Here is a mother dog caring for her pups. Snazzy red mohawk. Doesn't wag tail. Pups look confused. Overall 4/10 https://t.co/YOHe6lf09m
0.4

This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb
0.7

This lil pup is Oliver. Hops around. Has wings but doesn't fly (lame). Annoying chirp. Won't catch tennis balls 2/10 https://t.co/DnhUw0aBM2
0.2

This is Alfie. He's that one hypocritical gym teacher who made you run laps. Great posture. Cool bench. 6/10 https://t.co/GCJzm3YsfX
0.6

This dog resembles a baked potato. Bed looks uncomfortable. No tail. Comes with butter tho. 3/10 petting still fun https://t.co/x89NSCEZCq
0.3

Wow. Armored dog here. Ready for battle. Face looks dangerous. Not very loyal. Lil dog on back havin a blast. 5/10 https://t.co/SyMoWrp368
0.5

This is Tedrick. He lives on the edge. Needs someone to hit the gas tho. Other than that he's a baller. 10&amp;2/10 https://t.co/LvP1TTYSCN
0.2

What a dog to start the day with. Very calm. Likes to chill by pond. Corkscrews sticking out of head. Obedient. 7/10 https://t.co/0nIxPTDWAZ
0.7


There are more low scores than I was expecting, but it turns out most of these are not really dogs. In any case, the low scores are accurate, so I think the table captures the information in the `text` column correctly.

Next I change the `timestamp` column to a datetime format. (**QUALITY ISSUE \#7**)

In [ ]:
pd.to_datetime(tweet_df['timestamp'])

Let's take a look at what is in the 'entities' column:

In [23]:
tweet_df['entities'][0]

{u'hashtags': [],
 u'media': [{u'display_url': u'pic.twitter.com/MgUWQ76dJU',
   u'expanded_url': u'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
   u'id': 892420639486877696L,
   u'id_str': u'892420639486877696',
   u'indices': [86, 109],
   u'media_url': u'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   u'media_url_https': u'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   u'sizes': {u'large': {u'h': 528, u'resize': u'fit', u'w': 540},
    u'medium': {u'h': 528, u'resize': u'fit', u'w': 540},
    u'small': {u'h': 528, u'resize': u'fit', u'w': 540},
    u'thumb': {u'h': 150, u'resize': u'crop', u'w': 150}},
   u'type': u'photo',
   u'url': u'https://t.co/MgUWQ76dJU'}],
 u'symbols': [],
 u'urls': [],
 u'user_mentions': []}

I will extract some data from the `entities` column. To begin with, I want to extract `hashtags`, `symbols`, `urls`, and `user_mentions`. I'll decide what to keep from these after I take a look at the data.

In [45]:
def value_to_string(value,dic):
    st=''
    for element in dic[value]:
        st+=str(element)
    return st

def update_df(value):
    i=0
    for i in range (0,tweet_df.shape[0]):
        try:
            tweet_df.loc[i,value]=value_to_string(value,tweet_df.loc[i,'entities'])
            i=i+1
        except TypeError:
            print i
            pass
        except KeyError:
            tweet_df.loc[i,value]=' '
            
update_df('urls')
update_df('user_mentions')
update_df('hashtags')
update_df('symbols')

19
30
32
36
55
64
68
73
74
78
91
95
97
101
109
113
118
124
130
132
137
146
148
155
159
160
165
171
179
180
182
185
186
188
189
194
195
204
211
212
218
222
228
230
231
234
247
250
260
266
272
273
274
281
285
286
289
290
291
298
302
303
307
309
310
313
319
327
332
340
341
342
343
346
357
359
366
375
382
386
387
397
399
406
409
411
415
420
422
425
427
431
434
435
438
446
447
450
453
455
462
465
469
475
476
479
485
488
498
506
513
522
530
535
538
541
543
546
552
555
558
561
566
568
570
574
576
577
581
583
586
589
594
595
596
597
598
599
600
601
602
603
604
605
606
611
612
615
618
627
629
634
654
655
656
661
664
669
671
677
682
686
692
694
701
702
707
720
728
741
742
745
749
753
759
764
767
770
773
778
784
794
800
811
815
818
822
826
829
833
841
843
847
857
860
868
872
885
890
895
908
911
926
937
943
949
967
1005
1012
1023
1043
1080
1242
1286
1295
1345
1445
1446
1474
1479
1497
1523
1598
1605
1618
1663
1689
1774
1819
1844
1860
1895
1905
1914
1940
2038
2149
2189
2259
2260
2298
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
19
30
32
36
55
64
68
73
74
78
91
95
97
101
109
113
118
124
130
132
137
146
148
155
159
160
165
171
179
180
182
185
186
188
189
194
195
204
211
212
218
222
228
230
231
234
247
250
260
266
272
273
274
281
285
286
289
290
291
298
302
303
307
309
310
313
319
327
332
340
341
342
343
346
357
359
366
375
382
386
387
397
399
406
409
411
415
420
422
425
427
431
434
435
438
446
447
450
453
455
462
465
469
475
476
479
485
488
498
506
513
522
530
535
538
541
543
546
552
555
558
561
566
568
570
574
576
577
581
583
586
589
594
595
596
597
598
599
600
601
602
603
604
605
606
611
612
615
618
627
629
634
654
655
656
661
664
669
671
677
682
686
692
694
701
702
707
720
728
741
742
745
749
753
759
764
767
770
773
778
784
794
800
811
815
818
822
826
829
833
841
843
847
857
860
868
872
885
890
895
908
911
926
937
943
949
967
1005
1012
1023
1043
1080
1242
1286
1295
1345
1445
1446
1474
1479
1497
1523
1598
1605
1618
1663
1689
1774
1819
1844
1860
1895
1905
1914
1940
2038
2149
2189
2259
2260
2298
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
19
30
32
36
55
64
68
73
74
78
91
95
97
101
109
113
118
124
130
132
137
146
148
155
159
160
165
171
179
180
182
185
186
188
189
194
195
204
211
212
218
222
228
230
231
234
247
250
260
266
272
273
274
281
285
286
289
290
291
298
302
303
307
309
310
313
319
327
332
340
341
342
343
346
357
359
366
375
382
386
387
397
399
406
409
411
415
420
422
425
427
431
434
435
438
446
447
450
453
455
462
465
469
475
476
479
485
488
498
506
513
522
530
535
538
541
543
546
552
555
558
561
566
568
570
574
576
577
581
583
586
589
594
595
596
597
598
599
600
601
602
603
604
605
606
611
612
615
618
627
629
634
654
655
656
661
664
669
671
677
682
686
692
694
701
702
707
720
728
741
742
745
749
753
759
764
767
770
773
778
784
794
800
811
815
818
822
826
829
833
841
843
847
857
860
868
872
885
890
895
908
911
926
937
943
949
967
1005
1012
1023
1043
1080
1242
1286
1295
1345
1445
1446
1474
1479
1497
1523
1598
1605
1618
1663
1689
1774
1819
1844
1860
1895
1905
1914
1940
2038
2149
2189
2259
2260
2298
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
19
30
32
36
55
64
68
73
74
78
91
95
97
101
109
113
118
124
130
132
137
146
148
155
159
160
165
171
179
180
182
185
186
188
189
194
195
204
211
212
218
222
228
230
231
234
247
250
260
266
272
273
274
281
285
286
289
290
291
298
302
303
307
309
310
313
319
327
332
340
341
342
343
346
357
359
366
375
382
386
387
397
399
406
409
411
415
420
422
425
427
431
434
435
438
446
447
450
453
455
462
465
469
475
476
479
485
488
498
506
513
522
530
535
538
541
543
546
552
555
558
561
566
568
570
574
576
577
581
583
586
589
594
595
596
597
598
599
600
601
602
603
604
605
606
611
612
615
618
627
629
634
654
655
656
661
664
669
671
677
682
686
692
694
701
702
707
720
728
741
742
745
749
753
759
764
767
770
773
778
784
794
800
811
815
818
822
826
829
833
841
843
847
857
860
868
872
885
890
895
908
911
926
937
943
949
967
1005
1012
1023
1043
1080
1242
1286
1295
1345
1445
1446
1474
1479
1497
1523
1598
1605
1618
1663
1689
1774
1819
1844
1860
1895
1905
1914
1940
2038
2149
2189
2259
2260
2298
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355

In [53]:
tweet_df.drop('hashtags',axis=1,inplace=True)

In [28]:
print tweet_df[(tweet_df['symbols'].isnull())].shape[0]
print tweet_df[(tweet_df['urls'].isnull())].shape[0]
print tweet_df[(tweet_df['user_mentions'].isnull())].shape[0]

257
252
257

**These null values are for the same tweet_ids that I identified above as missing from the json file downloaded from twitter.**
not true. What happened here? run the whole thing again maybe and see what is different.

Let's look at what the `hashtags` column contains:

In [39]:
tweet_df[(tweet_df['hashtags'].notnull())&(tweet_df['hashtags']!='')].head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,floofer,pupper,puppo,retweet_count,favorite_count,entities,hashtags,urls,user_mentions,symbols
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,None,None,None,9230.0,39762.0,"{u'symbols': [], u'user_mentions': [], u'hasht...","BarkWeek,",,,

It looks like the hashtag is buried a little deeper in the json structure, under the 'text' key. I want to keep this information, because I would like to see which hashtags are the most common. But before I do that I look at the other columns I created. Next is `symbols` column.

In [16]:
tweet_df[(tweet_df['symbols'].notnull())&(tweet_df['symbols']!='')].head()

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, retweet_count, created_at, favorite_count, entities, symbols]
Index: []

[0 rows x 22 columns]

This column is empty so I discard it:

In [39]:
tweet_df.drop('symbols',axis=1,inplace=True)

Next I look at `url` column:

In [ ]:
tweet_df[(tweet_df['urls'].notnull())&(tweet_df['urls']!='')].head(1)

The text in the `url` column is truncated, so I just choose one cell to print:

In [42]:
tweet_df.loc[6,'urls']

"{u'url': u'https://t.co/Zr4hWfAs1H', u'indices': [117, 140], u'expanded_url': u'https://gofundme.com/ydvmve-surgery-for-jax', u'display_url': u'gofundme.com/ydvmve-surgery\\u2026'}"

I don't think I'll use this data, so I just remove the column.

In [43]:
tweet_df.drop('urls',axis=1,inplace=True)

Finally, I look at `user_mentions` column.

In [126]:
tweet_df[(tweet_df['user_mentions'].notnull())&(tweet_df['user_mentions']!='')]['user_mentions'].head(1)

29    {u'indices': [0, 12], u'screen_name': u'NonWhi...
Name: user_mentions, dtype: object

Again, I don't think i want to keep any of this data in my table. So I extract hashtags from the `hashtags` column (**QUALITY ISSUE \#8**)

In [ ]:
def hashtag_to_string(dic):
    st=''
    for hashtag in dic['hashtags']:
        st+=str(hashtag['text'])+','
    return st
    
for i in range (0,tweet_df.shape[0]):
    try:
        tweet_df.loc[i,'hashtags']=hashtag_to_string(tweet_df.loc[i,'entities'])
        i=i+1
    except TypeError:
        print i
        pass
    except KeyError:
        tweet_df.loc[i,'hashtags']=' '

The `hashtags` column is not stored in a useful way - it's a string where each hashtag is separated from the next by a comma. I need to separate these hashtags, and then store each hashtag on a different row. I could either do this in the main dataframe (tweet_df) or I could just create an aditional hashtag dataframe. The main advantage if I go the second route is that I won't have duplicated tweet_ids in the main table, which rows will just repeat a lot of the same data (also, when doing visualizations, I will need to use a lot of group_by clauses if the data is all duplicated in this way). So I create an extra table (**TIDYING ISSUE \#1)

In [101]:
hashtag_table=[]

for i in tweet_df[tweet_df['hashtags']!=' '].index:
    if pd.isnull(tweet_df.loc[i,'hashtags'])==False:
        hashtag_list=tweet_df.loc[i,'hashtags'].split(',')[0:-1]
        for i in range(len(hashtag_list)):
            hashtag_table.append({'tweet_id':str(tweet_df.loc[i,'tweet_id']),'hashtag':hashtag_list[i]})
        
hashtag_df=pd.DataFrame(hashtag_table)

The four columns that indicate dog stage are all instances of the same variable, namely dog stage. So we can collapse these into a single column. (**TIDYING ISSUE \#2**)

In [155]:
test_df=tweet_df[['tweet_id','doggo','floofer','pupper','puppo']]
melted=pd.melt(test_df,id_vars=['tweet_id'],value_vars=['doggo','floofer','pupper','puppo'],value_name='dog_stage')
melted=melted[['tweet_id','dog_stage']]
melted.head()

            tweet_id dog_stage
0  8.92420643555e+17      None
1  8.92177421306e+17      None
2  8.91815181378e+17      None
3   8.9168955728e+17      None
4  8.91327558927e+17      None

In [156]:
melted.shape

(9424, 2)

In [162]:
melted.drop_duplicates()
melted.reset_index().drop('index',axis=1,inplace=True)
melted.head(30)

             tweet_id dog_stage
0   8.92420643555e+17      None
1   8.92177421306e+17      None
2   8.91815181378e+17      None
3    8.9168955728e+17      None
4   8.91327558927e+17      None
5   8.91087950876e+17      None
6   8.90971913174e+17      None
7   8.90729181411e+17      None
8    8.9060918515e+17      None
9   8.90240255349e+17     doggo
10  8.90006608113e+17      None
11   8.8988089648e+17      None
12  8.89665388334e+17      None
13   8.8963883758e+17      None
14  8.89531135344e+17      None
15  8.89278841982e+17      None
16  8.88917238124e+17      None
17    8.888049892e+17      None
18  8.88554962724e+17      None
19  8.88078434459e+17      None
20  8.87705289382e+17      None
21  8.87517139158e+17      None
22  8.87473957104e+17      None
23  8.87343217045e+17      None
24  8.87101392804e+17      None
25  8.86983233523e+17      None
26  8.86736880519e+17      None
27  8.86680336478e+17      None
28  8.86366144734e+17      None
29  8.86258384152e+17      None

In [134]:
tweet_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,floofer,pupper,puppo,retweet_count,favorite_count,entities,urls,user_mentions,symbols,hashtags
0,8.92420643555e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,None,None,None,8380,38256,"{u'symbols': [], u'user_mentions': [], u'hasht...",,,,
1,8.92177421306e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,None,None,None,6188,32795,"{u'symbols': [], u'user_mentions': [], u'hasht...",,,,
2,8.91815181378e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,None,None,None,4093,24696,"{u'symbols': [], u'user_mentions': [], u'hasht...",,,,
3,8.9168955728e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,None,None,None,8522,41579,"{u'symbols': [], u'user_mentions': [], u'hasht...",,,,
4,8.91327558927e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,None,None,None,9230,39762,"{u'symbols': [], u'user_mentions': [], u'hasht...",,,,"BarkWeek,"

In [ ]:
# def get_hashtags(text):

i=0
k=0
while k<100:
    if tweet_df.loc[i,'hashtags']!=' ':
        print tweet_df.loc[i,'hashtags']
        k=k+1
    i=i+1

In [91]:
tweet_df.loc[19,'hashtags']

nan

In [87]:
'abcm,nope,'.split(',')

['abcm', 'nope', '']

In [120]:
prediction_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [121]:
prediction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.0+ KB

Although I don't think I'll use this dataframe for visualizations or insights, I believe it would be more appropriate to consider each prediction as a separate observation. In other words, we should have a value/column named 'prediction' which will collate the existing `p1`,`p2`, and `p3` columns (the digits in the column names don't really give us any additional information - we can tell which prediction is more likely by looking at the `p_conf` columns).

This step will also involve collapsing the `p_conf` and `p_dog` columns.

Add: retweet_count,created_at,favorite_count

Cleaning:
1. Names: replace those starting with lowercase with 'None'
2. Ratings: normalize to denominator 10: multiply numerator by 10, divide by denominator 
3. Check to see if any dog categories were missed.
4. Remove rows that are retweets. Use any of the 'retweeted' columns to identify these (if any are left after merging?)